#fpic{
    display: block;
    width: 100%;
    height: auto;
}

.fpic{
    position: relative;
    display: inline-block;
}

.abouttext{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: #B1560F;
    font-weight: bold;
    font-size: 70px;
    font-family: Jura;
}

@media screen and (max-width: 1024px){
    #mek{
        width: 500px;
        height: auto;
    }
    .abouttext{
        position: absolute;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 24px;
        font-family: Jura;
    }
    }


@media screen and (max-width: 600px){
    #mek{
        width: 200px;
        height: auto;
    }
.abouttext{
    position: absolute;
    text-align: center;
    color: #CD7F32;
    font-weight: bold;
    font-size: 12px;
    font-family: Jura;
}

}

