
  img{visibility: hidden;}
  #navlogo, #fpic, #img1, #img2, #img3, #img4, #img5, #img6, #location, #phone, #mphone, #mailicon{
    visibility: visible;
  }

.fade {
    animation-name: fade;
    -webkit-animation-name: fade;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    visibility: visible;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
      -webkit-transform: translateZ(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateZ(0%);
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity: 0;
      -webkit-transform: translateZ(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateZ(0%);
    }
  }


.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  visibility: visible;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    visibility: visible;
  }
  
  @keyframes slideLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
  
  @-webkit-keyframes slideLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }

  .slideRight {
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    visibility: visible;
  }
  
  @keyframes slideRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
  
  @-webkit-keyframes slideRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }