.row{
    height: 300px;
    box-sizing: border-box;
}

.column{
    float: left;
    width: 20%;
    padding-left:100px;
    margin-top: 10px;
    padding-top: 70px;
    text-align: center;
}

h6{
    font-family: Jura;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 40px;
    font-size: 15px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 992px) {
    .row{
        height: 100%;
        text-align: center;
        padding-right: 50%;
    }
    .column {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .row{
        height: 100%;
        text-align: center;
        padding-right: 50%;
    }
    .column {
      width: 100%;
    }
  }